.about-wave {
  transform: rotate(180deg);
  position: relative;
  top: 10px;
}
.about-content {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-content h1 {
  margin: 0px;
  padding: 40px 0px;
  color: #fff;
  font-size: 1.5rem;
}
.about-icons-container {
  height: 30px;
  margin-right: 20px;
}
.about-icons {
  fill: #fff;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
}
.about-icons:hover {
  transform: scale(1.3);
}
.about-icons-container i {
  color: #fff;
  position: relative;
}
