.prologue-section {
  scroll-snap-align: start;
}
.prologue-section > h1 {
  margin-bottom: 10px;
}
.prologue-section > h4 {
  text-align: center;
  font-style: italic;
  margin: 0px;
}
.prologue-container {
  padding-top: 40px;
}
.prologue-card {
  height: auto;
  max-width: 300px;
  transition: 1s;
}
.prologue-icon {
  height: 100px;
  width: 100px;
  background-color: #faebd7;
  border-radius: 50%;
  margin: auto;
  transition: 1s;
  padding: 20px;
}
.prologue-icon > .icn {
  width: 100%;
  height: 100%;
}
.prologue-content {
  margin: auto;
  padding: 50px 10px 10px 10px;
  position: relative;
  top: -45px;
  z-index: -1;
  transition: 1s;
  box-shadow: -1px 92px 150px #c0c0c0;
}
.prologue-content > p {
  transform: scale(0.9);
}
.prologue-content > h1,
.prologue-content > p {
  margin: 0px;
  text-align: center;
  transition: 1s;
}
/* .prologue-card:hover .prologue-content {
  box-shadow: 0px 0px 15px #000;
}
.prologue-card:hover {
  transform: scale(1.1);
}
.prologue-card:hover .prologue-icon {
  transform: scale(1.1) translateY(-10px);
} */

@media screen and (min-width: 776px) {
  .prologue-card:hover .prologue-content {
    box-shadow: 0px 0px 15px #000;
  }
  .prologue-card:hover {
    transform: scale(1.1);
  }
  .prologue-card:hover .prologue-icon {
    transform: scale(1.1) translateY(-10px);
  }
}
